body{
    background: linear-gradient(to bottom, #C2FFC7, #9EDF9C, #62825D, #526E48);

}
.navegador{
     color: #1A1A1D;
     display: inline-block;
     background-color: white;
     padding: 10px;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
     border-radius: 20px;
     font-size: 18px;
}
.navegador:hover{
    background-color: #9EDF9C;
}
button{
    background-color: #9EDF9C;
    color: #F6FCDF;
}
button:hover{
    background-color: #F6FCDF;
    color: #A64D79;
}
button:active{
    background-color: #F6FCDF;
    color: #A64D79;
 }
nav{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
    
 }
.navbutton{
    color: #000000;
    display: inline-block;
    background-color: #9EDF9C;
    padding: 10px;
    border: 2px solid #62825D;
    display: none;
    text-decoration: none;
    border-radius: 20px;
 }
 @media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .navegador{
        margin: 0px 0px;
    }
    .navbutton{
        display: inline-block;
    }
    .none{
        display: none;
    }
    video{
        padding: 0px;
        text-align: left;
        margin: 0px;
    }
    nav{
        text-align: center;
    }
    li{
       margin-left: 0px;
    }
    nav {
        background-color: #62825D;
        flex-direction: column;
    }
    .navegador{
        margin: 0px 0px;
    }
    .navbutton{
        display: inline-block;
    }
    .none{
        display: none;
    }
    .img1{
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
        width: 420px;
    }
    .img2{
        display: none;
    }
    nav{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .iframe{
        margin-left: -30px;
        width: 500px;
    }
}
.armas{
    text-align: center;  
    margin: 0px;
}
img{
    border-radius: 20px;

    box-shadow: 1px 6px 5px 1px ;

}
.logo{
    color: #526E48;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    color: #62825D;
    font-family: monospace
}
.newsletter{
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    font-size: 18px
}
h1{
    font-family: monospace;
    font-size: 50px;
    margin-top: -5px;
    color: #526E48;
    text-align: center;
}
.atencion{
    justify-content: space-around;
    text-align: center;
    display: flex;
    background-color: #859F3D;
    padding: 20px;
    border-radius: 20px;
}
.cliente{
    font-family: monospace;
    font-size: 18px;
    color: #000
}
.secciones{
    font-size: 10px;
    background: -webkit-linear-gradient( #e0e0e0, #9b9b9b); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 40px; font-weight: bold;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    font-size: 18px;
    font-family: monospace;
    text-decoration: wavy;
    margin-left: 250px;
    color: white;
    padding-top: -20px;
}
.ultimo{
    color: rgb(80, 71, 55);
    padding-left: 500px;
}
.titulo{
margin-left: 420px;
}
.bienvenida{
    padding-top: 20px;
    color: #526E48;
}
.presencia{
    font-size: 20px;
    color: white;
    padding-left: 20px;
    font-family: monospace;
}
.img1{
    margin-left: 70px;
}
.img2{
    margin-left: 130px;
}
.iframe{
    padding-left: 50px;

}
.videos{
    font-family: monospace;
    padding-left: 20px;
    font-size: 20px;
    color: #9EDF9C;
}
.horarios{
    color:#C2FFC7;
}